<!DOCTYPE html>
<html lang="et-EE">
<head>
    <meta charset="UTF-8">
    <title>Reisi Eestis</title>
</head>
<body>

    <h1>Broneeri</h1>

    <p>
        <h2>{{ route.from_name }} > {{ route.to_name }}</h2>
        {{ schedule.start_date }} - {{ schedule.end_date }}
        <br />
        Bussiliin: {{ schedule.company_state }}
        <br />
        Hind: {{ schedule.price }}
    </p>

    <form method="post" hx-post="/api/book/{{ dataset_id }}/{{ route.id }}/{{ schedule.id }}" hx-target="#result" hx-swap="innerHTML">
        <label for="first_name">Eesnimi:</label>
        <input type="text" name="first_name" id="first_name" value="" />
        <label for="last_name">Perekonnanimi:</label>
        <input type="text" name="last_name" id="last_name" value="" />

        <button type="submit">Broneeri</button>
    </form>

    <div id="result"></div>

    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>

</body>
</html>